# Настройки базы данных
DATABASE_URL=postgresql://user:password@db:5432/dbname

# Секретный ключ
SECRET_KEY=your-secret-key

# Настройки электронной почты
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@example.com
SMTP_PASSWORD=your-email-password
FROM_EMAIL=your-email@example.com

# Токен бота Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
