fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
pydantic
python-dotenv
spacy
scikit-learn
mlflow
prometheus-fastapi-instrumentator
simplification
bs4
requests
torch
onnx
onnxruntime
